/* Reseteo */
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
}

section {
  margin-bottom: 7rem;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;
}

p, a, li {
  font-family: "Hind", sans-serif;
}

h1 {
  font-size: clamp(3rem, 4vw, 4.5rem);
  color: #44aa44;
}

h2 {
  font-size: clamp(2.8rem, 4vw, 3.8rem);
  color: #44aa44;
}

h3 {
  font-size: clamp(1.8rem, 2.2vw, 2rem);
}

.txt_center {
  text-align: center;
}

.bkgnd_center, #servicesBanner, #home_banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.flex_y_center, #veterinariaSec > div, #premiumFood, #servicesBanner, .box_plan ul li, #become_VIP, #categoriesBox div, #home_banner, nav .right {
  display: flex;
  align-items: center;
}

.flex_x_center, footer, .brands_box {
  display: flex;
  justify-content: center;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  height: clamp(45rem, 45vw, 50rem);
}

.box_container {
  width: 80%;
  margin: auto;
  padding: 0;
  max-width: 1200px;
}

@media (max-width: 950px) {
  .box_container {
    width: 90%;
  }
}
@media (min-width: 700px) {
  .hide_desk {
    display: none;
  }
}
@media (max-width: 700px) {
  .hide_mobile {
    display: none;
  }
  .col_100_mobile {
    width: 100% !important;
  }
}
.col_4_big {
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1250px) {
  .col_3_large {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 950px) {
  .col_2_medium {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 580px) {
  .col_1_small {
    grid-template-columns: repeat(1, 1fr);
  }
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5%;
  position: sticky;
  top: 0;
  background-color: #44aa44;
  z-index: 10;
}
nav #logoNav img {
  width: 50px;
}
nav .right > div:nth-child(2) {
  display: block;
  width: 0.2rem;
  height: 2.2rem;
  background-color: #E2E2E2;
  margin-right: 1rem;
}
nav .right ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
nav .right ul li {
  display: inline-block;
  margin-right: 1rem;
}
nav .right ul li a {
  text-decoration: none;
  color: #ffffff;
}
nav .right #navBtns a {
  padding: 0.5rem 1rem;
  color: #ffffff;
  border-radius: 0.5rem;
  display: block;
}
nav .right #navBtns #signUp {
  background-color: #0CC143;
}
nav .right #navBtns #login {
  background-color: #0863F7;
}
nav .right #header__cart_box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav .right #header__cart_box img {
  width: 1.5em;
}

@media (max-width: 700px) {
  nav {
    padding: 1rem 5% 1.5rem;
    flex-direction: column;
  }
  nav #logoNav {
    margin: auto;
  }
  nav .right {
    flex-direction: column;
  }
  nav .right #navLinks {
    padding: 0.5rem 0;
  }
  nav .right #navBtns li:last-child {
    margin-right: 0;
  }
  nav .right #navBtns a {
    padding: 0.1rem 1rem;
  }
  nav .right > div {
    display: none;
  }
}
#home_banner {
  background-image: url(../Resources/Gallery/bannerHome.png);
  background-position: 25% center;
  width: 100%;
  max-height: 50vh;
  position: relative;
  height: 100vh;
}
#home_banner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.15) 20%, rgba(255, 255, 255, 0) 100%);
}
#home_banner div {
  position: relative;
  z-index: 1;
  width: min(70%, 800px);
  padding-left: 5%;
}
#home_banner div h1 {
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  color: #ED1B34;
  margin: 7px 0 8px;
}
#home_banner div h2, #home_banner div p {
  color: #ffffff;
}

#intro-infoRow {
  display: grid;
  gap: 2rem;
}
#intro-infoRow div {
  display: flex;
  align-items: center;
}
#intro-infoRow div svg {
  font-size: 2rem;
  flex-shrink: 0;
  margin-right: 2rem;
}

.toast {
  position: absolute;
  top: 9rem;
  right: 3rem;
  z-index: 2;
  font-size: 1.3rem;
}

#categoriesBox div {
  max-width: 800px;
  margin: 3rem auto 0;
  justify-content: space-between;
}
#categoriesBox div a img {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
#categoriesBox div a p {
  text-align: center;
}

#listSec h3 {
  width: 30%;
}
#listSec ul {
  padding: 0;
  width: 60%;
}
#listSec ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 1.5rem 2rem 1.5rem 0;
  color: #000;
  font-size: 1.3em;
}

@media (max-width: 900px) {
  #intro-infoRow svg {
    font-size: 2rem;
    flex-shrink: 0;
    margin-right: 2rem;
  }
}
@media (max-width: 700px) {
  .toast {
    top: 15rem;
    right: 1rem;
  }
  #categoriesBox img {
    width: 20vw !important;
  }
}
.box_container h1 {
  color: #44aa44;
  margin-bottom: 2rem;
}

#products_banner {
  width: 100%;
  object-fit: cover;
}

.products_title {
  border-bottom: 1px solid #44aa44;
}

.brands_box img {
  min-width: 1%;
  width: clamp(100px, 19vw, 150px);
}

/* Estilos de la pagina Products */
.cards_container {
  display: grid;
  gap: 3vw;
  padding-top: 2.5rem;
}
.cards_container .card {
  cursor: pointer;
}
.cards_container .card:hover .btn {
  background-color: #44aa44;
}

#myModal {
  display: none;
  position: fixed;
  z-index: 3;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
#myModal .modal_content {
  margin-top: 7em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 0em 3vw 3vw 3vw;
  width: 60%;
}
#myModal .modal_content #close_cart {
  color: #1C1932;
  font-size: 38px;
  cursor: pointer;
  align-self: flex-end;
}
#myModal .modal_content #cart_modal {
  width: 100%;
}
#myModal .modal_content #cart_modal > div {
  margin-bottom: 1em;
}
#myModal .modal_content .product_cart_row {
  display: flex;
  align-items: center;
  padding: 1em;
  border-bottom: 2px solid #e5e5e5;
}
#myModal .modal_content .product_cart_row > div, #myModal .modal_content .product_cart_row > p {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#become_VIP div {
  width: 50%;
}
#become_VIP img {
  width: 50%;
}

.box_plan {
  position: relative;
  background-color: #f6eca7;
  border-radius: 8px;
  width: min(40%, 50rem);
  padding: 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.box_plan:hover {
  transform: scale(1.03);
}
.box_plan img {
  width: 5rem;
  margin: auto;
  display: block;
  margin-bottom: 8px;
}
.box_plan h3 + p {
  margin: 20px 0;
}
.box_plan ul {
  padding: 0;
  margin-bottom: 5rem;
}
.box_plan ul li {
  list-style-type: none;
  font-size: 1.8rem;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.box_plan ul li span {
  margin-right: 10px;
  display: block;
}
.box_plan button {
  position: absolute;
  font-size: 1.5rem;
  transform: translateX(-50%);
  left: 50%;
  bottom: 2rem;
}

.box_plan:first-child {
  margin-right: 3rem;
}

@media (max-width: 700px) {
  .box_plan:first-child {
    margin: 0 0 3rem 0;
  }
}
@keyframes arrowdown {
  0% {
    top: 0px;
  }
  100% {
    top: 7px;
  }
}
#servicesBanner {
  background-image: url("../Resources/Gallery/veterinaria_banner.png");
  padding: 3rem 10% 3rem 3rem;
  margin: 3rem;
  border-radius: 1rem;
  position: relative;
  justify-content: flex-end;
}
#servicesBanner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 45%, rgba(0, 0, 0, 0.15) 130%);
}
#servicesBanner div {
  z-index: 1;
}
#servicesBanner div h1, #servicesBanner div p {
  color: #fff;
  text-align: right;
}
#servicesBanner div svg {
  font-size: 50px;
  position: relative;
  animation: arrowdown 0.4s alternate infinite;
  display: block;
  margin-left: auto;
}

#premiumFood img {
  width: 50%;
}
#premiumFood > div {
  width: 40%;
}
#premiumFood > div div {
  padding: 1.5rem 0;
  border-top: 2px solid #44aa44;
  border-bottom: 2px solid #44aa44;
}

#veterinariaSec > div div {
  width: 48%;
}
#veterinariaSec > div div img {
  width: 100%;
}
#veterinariaSec > div div:last-child img:last-child {
  margin-top: 3rem;
}

@media (max-width: 700px) {
  #servicesBanner {
    width: 90%;
    margin: 3rem auto;
    padding: 3rem;
  }
  #premiumFood img, #premiumFood > div {
    width: 100%;
    margin-bottom: 3rem;
  }
  #veterinariaSec > div {
    margin: 3rem 0;
  }
}
#contactForm {
  background-color: #f6eca7;
  border-radius: 1rem;
  padding: 3rem;
  width: 65%;
  margin: auto;
}
#contactForm legend {
  text-align: center;
  margin-bottom: 2rem;
}
#contactForm div:not(:last-child) {
  margin-bottom: 2rem;
}
#contactForm textarea {
  width: 100%;
  height: 8rem;
}

@media (max-width: 950px) {
  #contactForm {
    width: 80%;
  }
}
@media (max-width: 700px) {
  #contactForm {
    width: 100%;
  }
}
footer {
  background-color: #44aa44;
  padding: 10rem 0;
  color: #fff;
}
footer img {
  width: 2.5rem;
  margin-left: 1.1em;
}

/*# sourceMappingURL=style.css.map */
