#home_banner{
    background-image: url(../Resources/Screenshot.png);
    // background-image: url(../Resources/beautiful-pet-portrait-small-dog-cat.jpg);
    @extend .bkgnd_center;
    align-content: center;
    margin-bottom: $maginSections;
    background-position: 25% center;
    width: 100%;
    max-height: 50vh;
    div{
        width: min(70%, 800px);
        padding-right: 5%;
        margin-left: auto;
        text-align: right;
        h1{
            font-size: clamp(2.5rem, 4vw,3.5rem);;
            color: $red;
            margin: 7px 0 8px;
        }
        h2, p{
            color: $white;
        }
    }
}

#intro-infoRow{
    display: grid;
    gap: 2rem;
    margin-bottom: $maginSections;
    div{
        display: flex;
        align-items: center;
        svg{
            font-size: 2rem;
            flex-shrink: 0;
            margin-right: 2rem;
        }
    }
}

#categoriesBox{
    padding: $maginSections 0;
    div{
        max-width: 800px;
        margin: 3rem auto 0;
    
        a{
            img{
                width: auto;
                height: 100px;
                border-radius: 50%;
            }
            p{
                text-align: center;
            }
        }
    }
}

#listSec{
    h3{ width: 30%; }
    ul{
        padding: 0;
        width: 60%;
        li{
            list-style-type: none;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #000;
            padding: 1.5rem 2rem 1.5rem 0;
            color: #000;
            font-size: 1.3em;
        }
    }
}

@media (max-width: 900px){
    #intro-infoRow{
        svg{
            font-size: 2rem;
            flex-shrink: 0;
            margin-right: 2rem;
        }
    }
}
