.box_container{
    h1{
        color: $green;
        margin-bottom: 2rem;
    }
}
#products_banner{
    width: 100%;
    object-fit: cover;
}
.products_title{
    border-bottom: 1px solid $green; 
}
.brands_box{
    @extend .flex_x_center;
    img{
        min-width: 1%;
        width: clamp(100px, 19vw, 150px);
    }
}
/* Estilos de la pagina Products */
.cards_container{
    display: grid;
    gap: 3vw;
    padding-top: 2.5rem;

    .card{
        cursor: pointer;
        &:hover{
            .btn{
                background-color: $green;
            }
        }
    } 
}
