.box_container{
    h1{
        color: $green;
        margin-bottom: 2rem;
    }
}
#products_banner{
    width: 100%;
    object-fit: cover;
}
.products_title{
    border-bottom: 1px solid $green; 
}
.brands_box{
    @extend .flex_x_center;
    img{
        min-width: 1%;
        width: clamp(100px, 19vw, 150px);
    }
}
/* Estilos de la pagina Products */
.cards_container{
    display: grid;
    gap: 3vw;
    padding-top: 2.5rem;

    .card{
        cursor: pointer;
        &:hover{
            .btn{
                background-color: $green;
            }
        }
    } 
}



#myModal {
    display: none; 
    position: fixed;
    z-index: 3;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 

    .modal_content {
        margin-top: 7em;
        margin-bottom: 5em;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
        padding: 0em 3vw 3vw 3vw;
        width: 60%;


        #close_cart {
            color: #1C1932;
            font-size: 38px;
            cursor: pointer;
            align-self: flex-end;
        }

        #cart_modal{
            width: 100%;
            & > div{
                margin-bottom: 1em;
            }
        }

        .product_cart_row{
            display: flex;
            align-items: center;
            padding: 1em;
            border-bottom: 2px solid #e5e5e5;

            & > div, & > p{
                width: 33%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
    }
}
